---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post {% if site.animated %}animated fade-in-down{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="post-title">{{ post.title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
